#page1 {
    background-image: url("/images/one.png");
    background-size: 90%;
    background-repeat: no-repeat;
    color:red;
}
#page2 {
    background-image: url("/images/two.png");
    background-size: 100%;
    background-repeat:no-repeat;
    color:green;
}
#page3 {
    background-image: url("/images/three.png");
    background-size: 70%;
    background-repeat:no-repeat;
    color:pink;
}
#page4 {
    background-image: url("/images/four.png");
    background-size:100%;
    background-repeat:no-repeat;
    color: blue;
}    

.fifty {
    height: 60vh;
}
#top {
    margin-left: 21%;
    margin-top: 3%;
}
#bottom {
    height: 50vh;
}