#page1 {
    background-image: url("/images/page1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page2 {
    background-image: url("/images/page2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page3 {
    background-image: url("/images/page3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page4 {
    background-image: url("/images/page4.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page5 {
    background-image: url("/images/page5.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page6 {
    background-image: url("/images/page6.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#page7 {
    background-image: url("/images/page7.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(23, 61, 27);
}

#top {
    margin-left: 15.5%;
    margin-right: 78%;
    margin-top: 0%;
    height: 5.5vh;
}

#top2 {
    margin-left: 15.75%;
    margin-right: 66%;
    margin-top: 15%;
    height: 5.5vh;
}

#top3 {
    margin-left: 96%;
    margin-right: -12%;
    margin-top: 36%;
    height: 8.5vh;
}

#top4 {
    margin-left: 6%;
    margin-right: -12%;
    margin-top: 39%;
    height: 45vh;
}

#top5 {
    margin-left: 5%;
    margin-right: 68%;
    margin-top: 45%;
    height: 5vh;
}

#top6 {
    margin-left: 69%;
    margin-right: 10%;
    margin-top: 37.5%;
    height: 4vh;
}

#top7 {
    margin-left: 69%;
    margin-right: 10%;
    margin-top: 37%;
    height: 32vh;
}

#bottom7 {
    margin-left: 6%;
    margin-right: 79%;
    height: 5vh;
}