#page1 {
    background-image: url("/images/page1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color:red;
}
#page2 {
    background-image: url("/images/page2.png");
    background-size: 100%;
    background-repeat:no-repeat;
    color:green;
}
.fifty {
    height: 60vh;
}
#top {
    margin-left: 21%;
    margin-top: 3%;
}
#bottom {
    height: 50vh;
}